<div id="pinfos"><h2>Room N°<%= roomid %></h2><h3>Connected:</h3><p id="listusers"></p><a href="/checkrooms"><button>Quit</button></a></div>
		<div id="pcanvas"><canvas id="drawing" width="700" height="500" ></canvas></div>
		<div id="ppalette">
		<label>Crayon</label>
		<select id="sle">
			<option id="ssmall">small</option>
			<option id="smedium">medium</option>
			<option id="slarge">large</option>
		</select>
		<br>
		<div>Selected : <span id="selcolor">black</span></div>
		<table id="palette"><tr><td id="pred"></td><td id="porange"></td><td id="ppink"></td><td id="pyellow"></td></tr><tr><td id="pgreen"></td><td id="pdgreen"></td><td id="pcyan"></td><td id="pblue"></td></tr><tr><td id="ppurple"></td><td id="pwhite"></td><td id="pgray"></td><td id="pblack"></td></tr></table><br><button id="rstdrw">Reset drawing</button></div>
    <div id="puserschat"><p id="chatlines"></p>
     
	