<!DOCTYPE html>
<html>
<head>
	<title>Welcome !</title>
	<meta charset="utf-8" />
	<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
		<h1 class="bigtitles">Draw everything with friends !</h1>
		
		<div id="hboutons">
		<a id="hbsignup" href="/signup">Sign up</a>
		<a id="hblogin" href="/login">Login</a>
		</div>
</body>
</html>
