<!DOCTYPE html>
<html>
<head>
	<title>Registering</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="css/style.css"/>
</head>
<body>
		<h1>Register now !</h1>
		
		<form action="/registering" method="POST">
			<input type="text" name="username" placeholder="Enter your username " />
			<input type="password" name="password" placeholder="Enter your password "/>
			<input type="submit" value="Submit !" />
		</form>
</body>
</html>
