<h1>Contact us</h1>

<form [formGroup]="messageForm" (ngSubmit)="onSubmit()">

    <h5 *ngIf="success">Message envoyé</h5>

    <label>
      Nom:
      <input type="text" formControlName="name">
      <div *ngIf="submitted && messageForm.controls.name.errors" class="error">
        <div *ngIf="messageForm.controls.name.errors.required">Saisir votre nom</div>
      </div>
    </label>
    <label>
      Email:
      <input type="text" formControlName="email">
      <div *ngIf="submitted && messageForm.controls.email.errors" class="error">
        <div *ngIf="messageForm.controls.email.errors.required">Saisir votre email</div>
      </div>
    </label>
  
    <label>
      Message:
      <textarea formControlName="message"></textarea>
      <div *ngIf="submitted && messageForm.controls.message.errors" class="error">
        <div *ngIf="messageForm.controls.message.errors.required">Ecrire le message</div>
      </div>
    </label>
 <br>
 <br>
    <input type="submit" value="Envoyer message" class="cta">
  
  </form>

